

.webix_view div, .webix_view span, .webix_list_item, .webix_view.webix_window{
border: none;

}


.style_body{
    background-color: var(--c-white-color-background);
}

.style_body_dark{
    background-color: var(--c-white-color-background-dark);
}


.webix_modal{
    opacity: 0.6;
}

:root{

    /*light*/
    --c-white-color-background: #f3f3f3;
    --shadow-element: 0 0 2px 2px rgba(122,122,122,0.2);
    --white-bacground-central-menu: #f9f9f9;
    --white-style-text-color: #000;
    --font-size: 18px;
    --font-weight: 100;
    --c-color-text-light: #141414;
    --c-white-color-background-light_general_windows: #f0f0f0;
    --modal_windows: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    --modal_windows_background: #f3f3f3;


    /*dark*/
    --c-white-color-background-dark: #424242;
    --c-white-color-background-dark_left_menu: #2c2c2c;
    --c-white-color-background-dark_general_rows: #424242;
    --c-white-color-background-dark_general_windows: #4d4d4d;
    --c-white-color-background-dark_left_menu_button: rgba(111, 111, 111, 0.0);
    --c-white-color-background-dark_left_menu_button_hover: #545454;
    --c-color-text-dark: #fff;
    --modal_windows_dark: 0.4em 0.4em 6px rgba(13, 13, 13, 0.6);
    --button_shodow_dark: 0.2em 0.2em 2px rgba(13, 13, 13, 2.8);


}





/*Оформление стр. №1 --------------------------------------------------------------------- */

.text_size_slider .webix_slider_box .webix_slider_right{
    height: 40%;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
}

.text_size_slider .webix_slider_box .webix_slider_left{
    height: 40%;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
}

.text_size_slider .webix_slider_box .webix_slider_handle{
    width: 35px;
    height: 35px;
    /*position: relative;*/
    /*top: 1px;*/
    border-radius: 30px;
}

.color_rows_star_pages{
    background-color: var(--white-bacground-central-menu);
    transform: scale(1);
}

.color_rows_star_pages_dark{
    background-color: var(--c-white-color-background-dark_left_menu);
    transform: scale(1);
}



.color_rows_page1{
    background-color:#fff;
}

.logo_1 .webix_button{
    background-color: var(--white-bacground-central-menu);
}

.logo_1 .webix_button:hover{
    cursor: default;
    background-color: var(--white-bacground-central-menu);
}

.logo_1 .webix_button:focus{
    cursor: default;
    background-color: var(--white-bacground-central-menu);
}

.logo_1_dark .webix_button{
    background-color: var(--c-white-color-background-dark_left_menu);
}

.logo_1_dark .webix_button:hover{
    cursor: default;
    background-color: var(--c-white-color-background-dark_left_menu);
}

.logo_1_dark .webix_button:focus{
    cursor: default;
    background-color: var(--c-white-color-background-dark_left_menu);
}

.background_2page{
    background-color: #f3f3f3;
}

.button_1 .webix_button{
    border-radius: 10px;
    border: 1px solid rgba(243, 243, 243, 7);
    background-color: #fff;
    color: var(--c-color-text-light);
    font-size: 20px;
    box-shadow: rgb(190, 192, 195) 2.9px 2.9px 4px, rgb(255, 255, 255) -0.9px -0.9px 2px;
    width: 98%;
    height: 98%;
}


.button_1 .webix_button:hover{
    position: relative;
    /*box-shadow: rgb(190, 192, 195) 0.9px 0.9px 4px, rgb(255, 255, 255) -1.9px -1.9px 4px;*/
}

.button_1 .webix_button:focus{
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
    /*box-shadow: rgb(190, 192, 195) 0.9px 0.9px 4px, rgb(255, 255, 255) -1.9px -1.9px 4px;*/
}

.button_1_dark .webix_button{
    border-radius: 10px;
    border: 1px solid rgba(243, 243, 243, 0.1);
    background-color: var(--c-white-color-background-dark_general_rows);
    color: var(--c-color-text-dark);
    font-size: 20px;
    box-shadow: var(--button_shodow_dark);
    width: 98%;
    height: 98%;
}


.button_1_dark .webix_button:hover{
    position: relative;
    background-color: var(--c-white-color-background-dark_general_rows);
    /*box-shadow: rgb(190, 192, 195) 0.9px 0.9px 4px, rgb(255, 255, 255) -1.9px -1.9px 4px;*/
}


.button_1_dark .webix_button:focus{
    background-color: var(--c-white-color-background-dark_general_rows);
    position: relative;
    top: 2px;
    left: 2px;
    box-shadow: none;
    /*box-shadow: rgb(190, 192, 195) 0.9px 0.9px 4px, rgb(255, 255, 255) -1.9px -1.9px 4px;*/
}


.status_define_button .webix_button{
    background-color: rgba(255, 255, 255, 0.0);
    cursor: default;
}

.status_define_button .webix_button:focus{
    background-color: rgba(255, 255, 255, 0.0);
    cursor: default;
}

.status_define_button .webix_button:hover{
    background-color: rgba(255, 255, 255, 0.0);
    cursor: default;
}

.status_define_button_yellow .webix_button{
    background-color: rgba(230, 187, 46, 1);
    cursor: default;

}

.status_define_button_yellow .webix_button:hover{
    background-color: rgba(230, 187, 46, 1);
    cursor: default;
}

.status_define_button_yellow .webix_button:focus{
    background-color: rgba(230, 187, 46, 1);
    cursor: default;
}
/*------------------------------------*/

.webix_modal{
    background-color: #000;
    opacity: 0.8;
    /*backdrop-filter: blur(100px);*/
    /*!*filter: blur(5px);*!*/


}


.window_show .webix_header{
    background-color: #f3f3f3;
    font-size: 20px;

}

.window_show {
    border-radius: 8px;
    background-color: var(--modal_windows_background);
    box-shadow: var(--modal_windows);



}
.window_show:hover{
    border-radius: 8px;
    background-color: var(--modal_windows_background);
    box-shadow: var(--modal_windows);

}

.window_show:focus{
    border-radius: 8px;
    background-color: var(--modal_windows_background);
    box-shadow: var(--modal_windows);

}

.window_show_dark .webix_header {
    background-color: #f3f3f3;
    font-size: 20px;
    color: var(--c-color-text-dark);
}

.window_show_dark{
    border-radius: 8px;
    background-color: var(--c-white-color-background-dark_general_rows);
    box-shadow: var(--modal_windows_dark);
    border: none;
}

.window_show_dark .webix_header{
    background-color: var(--c-white-color-background-dark_general_rows);
    font-size: 20px;
}

.window_show_dark:hover{
    box-shadow: var(--modal_windows_dark);
    border: none;
}

.window_show_dark:focus{
    box-shadow: var(--modal_windows_dark);
    border: none;
}


/*----------------------*/



.save_windows_modal p{
    color: var(--c-color-text-light);
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -22px;

}

.save_windows_modal_dark p{
    color: var(--c-color-text-dark);
    font-size: 20px;
    text-align: center;
    position: relative;
    top: -22px;
}

.language_windows_modal p{
    color: var(--c-color-text-light);
    font-size: 26px;
    text-align: center;
    /*position: relative;*/
    /*top: -16px;*/

}

.language_windows_modal_dark p{
    color: var(--c-color-text-dark);
    font-size: 26px;
    text-align: center;
    /*position: relative;*/
    /*top: -16px;*/

}


.label_status_gage_windows_start .webix_el_box{
    color: #000;
    font-size: 20px;
    font-weight: 100;

}

.label_status_gage_windows_start_dark .webix_el_box{
    color: #fff;
    font-size: 20px;
    font-weight: 100;

}

.ver_soft .webix_el_box{
    color: var(--c-color-text-light);
}

.ver_soft_dark .webix_el_box{
    color: var(--c-color-text-dark);
}

    /*//////---------------------------------------------------------------------------------*/



.style_left_cols{
    background-color: var(--c-white-color-background);
    box-shadow: var(--shadow-element);

}

.style_left_cols_dark{
    background-color: var(--c-white-color-background-dark_left_menu);
    box-shadow: var(--shadow-element);
    z-index: 100;

}



/*"Основные настройки" -----------------------------------------------------------------*/

.style_general_rows{
    background-color: var(--white-bacground-central-menu);
    border-top-left-radius: 0px;
    /*box-shadow: var(--shadow-element);*/

}

.style_general_rows_dark{
    background-color: var(--c-white-color-background-dark_general_rows);
    border-top-left-radius: 0px;
    /*box-shadow: var(--shadow-element);*/

}


.rows_level_min_max {

    width: 90%;
    height: 90%;

}

.window_type_1 p{
    color: #000;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;
}


.window_type_1_dark p{
    color: #fff;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;
}

.window_type_1{
    background-color: #fff;
    border-radius: 8px;
}


.window_type_1_dark{
    background-color: var(--c-white-color-background-dark_general_windows);
    border-radius: 10px;
    color: var(--c-color-text-dark);
}



.window_type_1  input {
    color: var(--white-style-text-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 60%;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 10px;
    position: relative;
    top: 20%;
    right: 20px;
}

.window_type_1_dark  input {
    color: #c1c4c6;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 60%;
    width: 50%;
    background-color: var(--c-white-color-background-dark_general_windows);
    border: 1px solid var(--c-white-color-background-dark_general_rows);
    border-radius: 10px;
    position: relative;
    top: 20%;
    right: 20px;
    box-shadow: inset 1px 1px 1px #212121;
}

/*-----------*/

.rowNumber_style input{
    color: var(--white-style-text-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 100%;
    /*width: 50%;*/
    background-color: #fff;
    border: 1px solid #ececec;
    position: relative;
    /*top: 20%;*/
}

.rowNumber_style_dark input{
    color: #c1c4c6;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 100%;
    /*width: 50%;*/
    background-color: var(--c-white-color-background-dark_general_windows);
    border: 1px solid var(--c-white-color-background-dark_general_rows);
    position: relative;
    /*top: 20%;*/
    box-shadow: inset 1px 1px 1px #212121;
}


.calib_rows{
    background-color: var(--white-bacground-central-menu);

}

.calib_rows_dark{
    background-color: var(--c-white-color-background-dark_general_windows);

}


/*----------*/
.window_type_4 p{
    color: #000;
    text-align: left;
    font-size: 26px;
    /*font-weight: 100;*/
    position: relative;
    top: -25px;
}

.window_type_4 input{
    color: #000;
    text-align: left;
    /*padding-right: 50px;*/
    font-size: 26px;
    height: 60%;
    position: relative;
    top: 20px;
}

.window_type_4 .webix_view div, .webix_view span, .webix_list_item, .webix_view.webix_window{
    font-size: 20px;
    /*margin-bottom: 10px;*/
}


.window_type_2 p{
    color: #000;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;


}

.window_type_2_dark p{
    color: #fff;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;

}

.window_type_2 {
    background-color: #fff;
}

.window_type_2_dark {
    background-color: var(--c-white-color-background-dark_general_windows);
    color: var(--c-color-text-dark);
}


.window_type_2  input {
    color: var(--white-style-text-color);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 60%;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ececec;
    position: relative;
    top: 20%;
    right: 20px;
}

.window_type_2_dark  input {
    color: #c1c4c6;
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    height: 60%;
    width: 50%;
    background-color: var(--c-white-color-background-dark_general_windows);
    border: 1px solid var(--c-white-color-background-dark_general_rows);
    position: relative;
    top: 20%;
    right: 20px;
    box-shadow: inset 1px 1px 1px #212121;
}




.window_type_3 p{
    color: #000;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;


}

.window_type_3_dark p{
    color: #fff;
    text-align: right;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 100;
    position: relative;
    top: -20px;


}

.window_type_3 {
    background-color: #fff;
}

.window_type_3_dark {
    background-color: var(--c-white-color-background-dark_general_windows);
    color: var(--c-color-text-dark);
}


.window_type_3  .webix_inp_counter_value {
    color: var(--white-style-text-color);
    font-size: var(--font-size);
    background-color: #fff;
    border: 1px solid #ececec;
    position: relative;
    height: 40%;
    top: 30px;

}

.window_type_3_dark .webix_inp_counter_value {
    color: var(--c-color-text-dark);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    background-color: var(--c-white-color-background-dark);
    border: 1px solid var(--c-white-color-background-dark);
    position: relative;
    box-shadow: inset 1px 1px 1px #212121;
}

.window_type_3 .webix_inp_counter_prev{
    color: #000;
    height: 40%;
    position: relative;
    top: 30px;
    width: 70px;

}

.window_type_3 .webix_inp_counter_next{
    color: #000;
    height: 40%;
    position: relative;
    top: 30px;
    width: 70px;

}

.window_type_3_dark .webix_inp_counter_prev{
    color: #000;
    height: 40%;
    position: relative;
    top: 30px;
    width: 70px;
    background-color: #f0f0f0;
    border: 1px solid var(--c-white-color-background-dark_general_rows);
}

.window_type_3_dark .webix_inp_counter_next{
    color: #000;
    height: 40%;
    position: relative;
    top: 30px;
    width: 70px;
    background-color: #f0f0f0;
    border: 1px solid var(--c-white-color-background-dark_general_rows);
}

.window_type_3 .webix_inp_counter_value{
    width: 100px;
}

@media screen and (max-width: 1641px){


}

@media screen and (max-width: 1500px){

    .window_type_1 p{
        color: #000;
        text-align: left;
        padding-right: 50px;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 100;
        position: relative;
        top: -20px;
    }


    .window_type_1_dark p{
        color: #fff;
        text-align: left;
        padding-right: 50px;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 100;
        position: relative;
        top: -20px;
    }

    .window_type_1  input {
        color: var(--white-style-text-color);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        height: 60%;
        width: 50%;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 10px;
        position: relative;
        top: 20%;
        right: 80px;
    }

    .window_type_1_dark  input {
        color: #c1c4c6;
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        height: 60%;
        width: 50%;
        background-color: var(--c-white-color-background-dark_general_windows);
        border: 1px solid var(--c-white-color-background-dark_general_rows);
        border-radius: 10px;
        position: relative;
        top: 20%;
        right: 80px;
        box-shadow: inset 1px 1px 1px #212121;
    }


    /*.window_type_2_dark .webix_el_group{*/
    /*    position: relative;*/
    /*    top: 50px;*/
    /*    left: 100px;*/
    /*    margin-top: 100px;*/
    /*}*/


    .window_type_2 p{
        color: #000;
        text-align: left;
        padding-left: -110px;
        font-size: 18px;
        font-weight: 100;
        position: relative;
        top: -20px;

    }


    .window_type_2 .webix_el_box{
       width: 500px;
    }


    .window_type_2_dark p{
        color: #fff;
        text-align: left;
        padding-right: 50px;
        padding-left: 20px;
        font-size: 18px;
        font-weight: 100;
        position: relative;
        top: -20px;
    }

    .window_type_2  input {
        color: var(--white-style-text-color);
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        height: 60%;
        width: 150%;
        background-color: #fff;
        border: 1px solid #ececec;
        border-radius: 0;
        position: relative;
        top: 20%;
        right: 80px;
    }

    .window_type_2_dark  input {
        color: #c1c4c6;
        font-size: var(--font-size);
        font-weight: var(--font-weight);
        height: 60%;
        width: 50%;
        background-color: var(--c-white-color-background-dark_general_windows);
        border: 1px solid var(--c-white-color-background-dark_general_rows);
        border-radius: 0;
        position: relative;
        top: 20%;
        right: 80px;
        box-shadow: inset 1px 1px 1px #212121;
    }


    .text_color_filter p{
        font-size: 16px;
    }



}
/*///////////------------------------------------------------------------------*/





/*Поле правого меню------------------------------------------------*/


.right_menu_fuel_level p{
    color:  var(--c-white-color-background-dark_left_menu_button_hover);
    font-size: 16px;
    font-weight: 100;
    text-align: center;

}

.full_level_windows_status input{
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #c5c5c5,
    inset -2px -2px 4px #ffffff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    height: 100%;
    border: 1px solid #fff;
}





.full_level_windows input{
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #c5c5c5,
    inset -2px -2px 4px #ffffff;
    color: #000;
    font-size: 24px;
    height: 100%;
    border: 1px solid #fff;
}


.rows_style_right_menu{
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: var(--shadow-element);


}

.rows_level_right_menu_info .webix_el_box{
    color: #000;
    font-size: 20px;
    font-weight: 100;

}

.rows_level_right_menu_info_dark .webix_el_box{
    color: #fff;
    font-size: 20px;
    font-weight: 100;

}
/*/////------------------------------------------------------------*/

.right_menu_status{
    background-color: var(--white-bacground-central-menu);
    border-radius: 8px;
    /*box-shadow: var(--shadow-element);*/

}

.right_menu_status_dark{
    background-color: var(--c-white-color-background-dark_general_rows);
    border-radius: 8px;
    /*box-shadow: var(--shadow-element);*/

}

.rows_right{
    background-color: #f3f3f3;
}

.rows_right_dark{
    background-color: var(--c-white-color-background-dark_left_menu);

}


/*------------------------------------------------*/
.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:black;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #fff;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-50px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}

/* sync status */
.status_good{
	color:#ddd;
}




/* кнопки в левом меню на странице №2 -------------------------------------------------- */

/*.left_menu_button .webix_button{*/
/*    background-color: #f3f3f3;*/
/*    border-right: 0 solid #fff;*/
/*    border-top-right-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    border-left: 8px solid #fff;*/
/*}*/

/*.left_menu_button_dark .webix_button{*/
/*    background-color: var(--c-white-color-background-dark_left_menu_button);*/
/*    border-right: 0 solid #fff;*/
/*    border-top-right-radius: 10px;*/
/*    border-bottom-right-radius: 10px;*/
/*    border-left: 8px solid var(--c-white-color-background-dark_left_menu_button);*/
/*}*/

/*.left_menu_button_dark .webix_image{*/
/*    width: 80%;*/
/*}*/

/*.left_menu_button .webix_image{*/
/*    width: 80%;*/
/*}*/


/*.left_menu_button .webix_button:hover{*/
/*    background-color: #fff;*/
/*    border-right: 2px solid rgba(255, 255, 255, 0);*/
/*    border-top: 2px solid rgba(255, 255, 255, 0);*/
/*    border-bottom: 2px solid rgba(255, 255, 255, 0);*/
/*    border-left: 8px solid #fff;*/
/*    position: relative;*/
/*    top: -2px;*/
/*    width: 101%;*/
/*}*/

/*.left_menu_button_dark .webix_button:hover{*/
/*    background-color: var(--c-white-color-background-dark_left_menu_button_hover);*/
/*    border-left: 8px solid #fff;*/
/*    border-right: 2px solid #fff;*/
/*    border-top: 2px solid #fff;*/
/*    border-bottom: 2px solid #fff;*/
/*    position: relative;*/
/*    top: -2px;*/
/*    width: 101%;*/

/*}*/


/*.left_menu_button .webix_button:focus{*/
/*    background-color: #fff;*/
/*    border-right: 2px solid rgba(255, 255, 255, 0);*/
/*    border-top: 2px solid rgba(255, 255, 255, 0);*/
/*    border-bottom: 2px solid rgba(255, 255, 255, 0);*/
/*    border-left: 8px solid #628cbb;*/
/*    position: relative;*/
/*    top: -2px;*/
/*    width: 101%;*/

/*}*/

.left_menu_button .webix_button:focus {
    background-color: #fff;
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    border-left: 8px solid #628cbb;
    position: relative;
    top: -2px;
    width: 101%;
}

.left_menu_button .webix_button:hover {
    background-color: #fff;
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    border-left: 8px solid #628cbb;
    position: relative;
    top: -2px;
    width: 101%;
}


.left_menu_button .webix_button {
    background-color: #fff;
    border-right: 2px solid rgba(255, 255, 255, 0);
    border-top: 2px solid rgba(255, 255, 255, 0);
    border-bottom: 2px solid rgba(255, 255, 255, 0);
    border-left: 8px solid #628cbb;
    position: relative;
    top: -2px;
    width: 101%;
}

.left_menu_button_dark .webix_button{
    background-color: var(--c-white-color-background-dark_left_menu_button_hover);
    border-left: 8px solid #fff;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -2px;
    width: 101%;
}


.left_menu_button_dark .webix_image{
    width: 80%;
}


.left_menu_button_dark .webix_button:focus{
    background-color: var(--c-white-color-background-dark_left_menu_button_hover);
    border-left: 8px solid #fff;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -2px;
    width: 101%;
}

.left_menu_button_dark .webix_button:active{
    background-color: var(--c-white-color-background-dark_left_menu_button_hover);
    border-left: 8px solid #fff;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -2px;
    width: 101%;
}

.left_menu_button_dark .webix_button:hover{
    background-color: var(--c-white-color-background-dark_left_menu_button_hover);
    border-left: 8px solid #fff;
    border-right: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -2px;
    width: 101%;
}
/*-------------------------------*/



.left_menu_button_2 .webix_button {
        background-color: #f3f3f3;
        border-right: 0 solid #fff;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-left: 8px solid #fff;
}

.left_menu_button_2 .webix_button:focus{
    background-color: #f3f3f3;
    border-right: 0 solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid #fff;
}

.left_menu_button_2 .webix_button:hover {
    background-color: #f3f3f3;
    border-right: 0 solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid #fff;
}

.left_menu_button_2 .webix_button:active {
    background-color: #f3f3f3;
    border-right: 0 solid #fff;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid #fff;
}


.left_menu_button_2_dark .webix_button {
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 0 solid rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid rgba(255, 255, 255, 0.1);
    cursor: default;
}

.left_menu_button_2_dark .webix_button:focus{
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 0 solid rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid rgba(255, 255, 255, 0.1);
}

.left_menu_button_2_dark .webix_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 0 solid rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid rgba(255, 255, 255, 0.1);
}

.left_menu_button_2_dark .webix_button:active {
    background-color: rgba(255, 255, 255, 0.1);
    border-right: 0 solid rgba(255, 255, 255, 0.1);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 8px solid rgba(255, 255, 255, 0.1);
}

/*-------------------------------*/






.left_menu_button_setup .webix_button{
    background-color: #f3f3f3;
}
.left_menu_button_setup .webix_button:hover{
    background-color: #f3f3f3;
}
.left_menu_button_setup .webix_button:active{
    background-color: #f3f3f3;
    border-top-right-radius: 10px;
}
.left_menu_button_setup .webix_image{
    width: 20%;
    position: relative;
    left: 60px;
}



.left_menu_button_reference .webix_button{
    background-color: #f3f3f3;
}

.left_menu_button_reference_dark .webix_button{
    background-color: var(--c-white-color-background-dark_left_menu);
}
.left_menu_button_reference .webix_button:hover{
    background-color: #f3f3f3;
}

.left_menu_button_reference_dark .webix_button:hover{
    background-color: var(--c-white-color-background-dark_left_menu);
}
.left_menu_button_reference .webix_button:focus{
    background-color: #f3f3f3;
}

.left_menu_button_reference_dark .webix_button:focus{
    background-color: var(--c-white-color-background-dark_left_menu);
}


.webix_view .webix_control > .webix_disabled{
    background-color: #666666;
    opacity: 0.2;
    color: #cccccc;

}

.webix_view .webix_control > .webix_disabled_dark{
    background-color: #666666;
    opacity: 0.2;

}




/*/////------------------------------------------------------------*/


/* Кнопки центрального меню ---------------------------------------*/
.button_central_menu .webix_button{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    width: 105%;
    height: 110%;
    position: relative;
    left: -8px;
    top: -5px;


}


.button_central_menu_dark .webix_button {
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    width: 105%;
    height: 110%;
    position: relative;
    left: -8px;
    top: -5px;

}


/*background-color: var(--c-white-color-background-dark_general_rows);*/

.button_central_menu .webix_button:hover{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
}
.button_central_menu_dark .webix_button:hover{
    background-color: var(--c-white-color-background-dark_general_rows);
    color: #fff;

}
.button_central_menu .webix_button:focus{
    background-color: #f9f9f9;
    color: #000;
}

.button_central_menu_dark .webix_button:focus{
    background-color: var(--c-white-color-background-dark_general_rows);
    color: #fff;
}

.central_cols_button {
    background: linear-gradient(45deg, #628cbb, #b7c7dd) ;
    border-top-left-radius: 8px;
}

.central_cols_button_dark {
    background: linear-gradient(45deg, #414e72, #628cbb) ;
}
/*/////------------------------------------------------------------*/




.window_1 .webix_el_box {
    background-color: #fff;
    width: 95%;
    height: 95%;
}

.window_1 .webix_el_box input{
    border-radius: 1px;
}

.window_1 input {
    height: 50%;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 1px;
    position: relative;
    top: 20%;
    right: 20px;
}
/*///////////*/

.window_2 .webix_el_box {
    background-color: #fff;

}
.window_2 input {
    height: 50%;
    width: 50%;
    background-color: #fff;
    border: 1px solid #ececec;
    border-radius: 1px;
    position: relative;
    top: 20%;
    right: 20px;
}
/*///////////*/


/*/////------------------------------------------------------------*/


.button_right_menu_top_1 .webix_button{
    background-color: #f3f3f3;
    color: #000;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 100;
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.1);
}

.button_right_menu_top_1_dark .webix_button{
    background-color: var(--c-white-color-background-dark_left_menu);
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 100;
    box-shadow: 0.1em 0.1em 3px rgba(66, 66, 66, 0.3);

}

.button_right_menu_top_1 .webix_button:hover{
    background-color: #dcdcdc;
    /*background-color: #f8f8f8;*/
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.button_right_menu_top_1_dark .webix_button:hover{
    background-color: var(--c-white-color-background-dark_general_windows);
}

.button_right_menu_top_1 .webix_button:focus{
    background-color: #dcdcdc;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.button_right_menu_top_1_dark .webix_button:focus{
    background-color: var(--c-white-color-background-dark_general_windows);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


/*/////------------------------------------------------------------*/



/*Зеленая лампа параметров настройки--------------------------------*/
.rows_level_right_menu_switch .webix_button{
    border-radius: 50px;
    background-color: #35a642;
    box-shadow: 0 0 2px 2px rgba(53, 166, 66, 0.3);
    width: 98%;
    height: 98%;
    cursor: default;
}
.rows_level_right_menu_switch .webix_button:hover {
    background-color: #35a642;
    box-shadow: 0 0 2px 2px rgba(53, 166, 66, 0.3);
}
.rows_level_right_menu_switch .webix_button:focus{
    background-color: #35a642;
    box-shadow: 0 0 2px 2px rgba(53, 166, 66, 0.3);
}
/*/////-------------------------------------------------------------*/


/*Красная лампа параметров настройки--------------------------------*/
.rows_level_right_menu_switch_define .webix_button{
    border-radius: 50px;
    background-color: #a6353c;
    box-shadow: 0 0 2px 2px rgba(166, 53, 60, 0.3);
    width: 98%;
    height: 98%;
    cursor: default;
}
.rows_level_right_menu_switch_define .webix_button:hover{
    background-color: #a6353c;
    box-shadow: 0 0 2px 2px rgba(166, 53, 60, 0.3);
}
.rows_level_right_menu_switch_define .webix_button:focus{
    background-color: #a6353c;
    box-shadow: 0 0 2px 2px rgba(166, 53, 60, 0.3);
}
/*/////------------------------------------------------------------*/


/*Окно вывода температуры------------------------------------------*/
.window_temp .webix_el_box input{
    color: #000;
    font-size: 20px;
    border:none;
    background-color: rgba(0, 0, 0, 0);
}
.thermometer_image .webix_button{
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
}
.thermometer_image .webix_button:hover {
    background-color: #f8f8f8;
}
.thermometer_image .webix_button:focus {
    background-color: #f8f8f8;
}
.thermometer_image .webix_image{
    width: 80%;
    height: 80%;
}
/*/////------------------------------------------------------------*/


.auto_calibration .webix_button {
    background-color: #414e72;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    border-radius: 5px;

}

.auto_calibration .webix_button:hover{
    background-color: #48587a;
    color: #fff;

}

.auto_calibration_dark .webix_button{
    background-color: #f0f0f0;
    color: #000;
}

.auto_calibration_dark .webix_button:hover{
    background-color: #dbdbdb;
    color: #000;
}

.progress_bar{
    background-color: #f8f8f8;
}

.edit_values .webix_button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 3px solid #414e72;
    color: #000;
    font-size: 18px;
    font-weight: 100;
    width: 98%;
    height: 98%;
}

.edit_values_dark .webix_button{
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    width: 98%;
    height: 98%;
}

.edit_values_dark .webix_button:hover{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    width: 98%;
    height: 98%;
}

.edit_values_dark .webix_button:focus{
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    border: 3px solid #fff;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    width: 98%;
    height: 98%;
}
/*---------
/*----------------------------------------------------------*/


.full_window_text .webix_el_box input{
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #c5c5c5,
    inset -2px -2px 4px #ffffff;
    color: #000;
    font-size: 18px;
    height: 100%;
    border: 1px solid #fff;
}

.full_window_text_dark .webix_el_box input{
    background-color: var(--c-white-color-background-dark_left_menu);
    border-radius: 5px;
    color: #fff;
    font-size: 18px;
    border: none;
    box-shadow: inset 2px 2px 5px #212121,
    inset -2px -2px 5px #373737;
    height: 100%;
}

.right_menu_status_text p{
    color: #000;
}

.right_menu_status_text_dark p{
    color: #fff;
}

/*------------------------------------------------------*/
.empty_window_text .webix_el_box input{
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #c5c5c5,
    inset -2px -2px 4px #ffffff;
    color: #000;
    font-size: 18px;
}

.progress_bar.webix_view.progress_bar{
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.progress_bar .webix_bullet_scale{
    visibility: hidden;
}

.progress_bar.webix_view .webix_bullet_value{
    background-color: #000;
}


.slider_1.webix_view.webix_control.webix_el_slider{
    position: relative;
    color: var(--white-style-text-color);


}

.slider_1_dark .webix_slider_box .webix_slider_right{
    background-color: #2c2c2c;

}

.slider_1_dark.webix_view.webix_control.webix_el_slider{
    position: relative;
    color: var(--c-color-text-dark);


}



.slider_text_window_1{
    position: relative;
    top: 43px;


}

.filters_rows{
    background-color: #f0f0f0;
    border-radius: 8px;
}

.filters_rows_dark{
    background-color: var(--c-white-color-background-dark_general_rows);
    border-radius: 8px;
}

/*Кнопка быврать фильтр-----------------------------------------*/
.button_slider_gen_value .webix_button{
    position: relative;
    top: 40px;
    height: 50%;
    border-radius: 4px;
    background-color: #414e72;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}
.button_slider_gen_value .webix_button:hover{
    background-color: #516289;
}
.button_slider_gen_value .webix_button:focus{
    background-color: #b7c5e2;
}
/*//////-----------------------------------------------------*/


.image_button_filter .webix_button{

}

.image_button_filter .webix_image{

}

.webix_slider_box .webix_slider_left{
    border: none;
    background: linear-gradient(to left, #628cbb, #b6c7dd);
    height: 10px;
}

.webix_slider_box .webix_slider_handle{
    background-color: #628cbb;
    border: none;
    width: 16px;
    height: 16px;
}

.webix_slider_box .webix_slider_right{
    background-color: #e6e6e6;
    height: 10px;
    border: none;
}


/*Переключатели-----------------------------------------------*/
.webix_switch_box.webix_switch_on{
    background-color: #628cbb;


}
.webix_switch_handle{
    width: 36px;
    height: 36px;

}
.webix_switch_box{
    height: 36px;
    width: 100px;

}
/*//////--------------------------------------------------------*/



/*Кнопка быврать фильтр-----------------------------------------*/
.button_filter_set .webix_button{
    position: relative;
    /*top: 40px;*/
    /*height: 50%;*/
    border-radius: 4px;
    background-color: #414e72;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
}




.toolbar_button_filter_set{
    background-color: #f0f0f0;
    border: none;
}
.toolbar_button_filter_set .webix_button:hover{
    background-color: #516289;
}
.toolbar_button_filter_set .webix_button:focus{
    background-color: #b7c5e2;
}

.toolbar_button.webix_view{
    background-color: rgba(255, 255, 255, 0);
}



.slider_text_window_filter input{
    background-color: #f3f3f3;
    box-shadow:inset 2px 2px 4px #c5c5c5,
    inset -2px -2px 4px #ffffff;
    border-radius: 5px;
    color: #000;
    font-size: 18px;
    font-weight: 100;
}


/*//////-------------------------------------------------------*/


/*Правое меню во вкладке "Тарировка-----------------------------------------*/

.rows_right_menu_calibration_1{
    background-color: #f9f9f9;
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.2);
    position: relative;
    width: 95%;
    height: 95%;
    border-top-left-radius: 8px;
    border-bottom: none;

}

.rows_right_menu_calibration_1_dark{
    background-color: var(--c-white-color-background-dark_general_rows);
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.2);
    position: relative;
    width: 95%;
    height: 95%;
    border-top-left-radius: 8px;
    border-bottom: none;

}


.rows_right_menu_calibration_2{
    background-color: var(--white-bacground-central-menu);
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.2);
    position: relative;
    width: 95%;
    height: 95%;
    border-top: none;

}

.rows_right_menu_calibration_2_dark{
    background-color: var(--c-white-color-background-dark_general_rows);
    box-shadow: 0.1em 0.1em 5px rgba(122,122,122,0.2);
    position: relative;
    width: 95%;
    height: 95%;
    border-top: none;

}

/*-Меню тарировка слив/залив------------------------------------------------------------------*/

.button_type_calibration_1 .webix_item_tab{
    font-size: 20px;
    color: #000;
    font-weight: 100;
    /*background-color: #f9f9f9;*/
    background-color: var(--c-white-color-background);

}

.button_type_calibration_1 .webix_item_tab.webix_selected{
    border: none;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    /*background-color: var(--c-white-color-background);*/
    background-color: #f9f9f9;
    box-shadow: none;

}

.button_type_calibration_1 .webix_item_tab.webix_selected:hover{
    border-bottom: none;
    font-size: 20px;
    color: #000;
    font-weight: 100;
    background-color: var(--c-white-color-background);

}

.button_type_calibration_1 .webix_all_tabs .webix_item_tab.webix_selected:focus{
    color: #000;
    box-shadow: none;

}

/*-------------*/

/*.rowNumber_style .webix_el_label .webix_el_box{*/
/*    font-size: 16px;*/
/*    font-weight: 100;*/
/*}*/

.rowNumber_style .webix_el_label.webix_el_box {
    font-size: 16px;
    font-weight: 100;

}

.rowNumber_style_1 p{
    font-size: 18px;
    font-weight: 100;
    color: var(--white-style-text-color);
}


.rowNumber_style_1_dark p{
    font-size: 18px;
    font-weight: 100;
    color: var(--c-color-text-dark);
}


/*.rowNumber_style_1 p .webix_inp_label, .webix_inp_top_label, legend.webix_forminput_label, .webix_el_label .webix_el_box{*/
/*    font-size: 18px;*/
/*    font-weight: 100;*/
/*    !*color: var(--white-style-text-color);*!*/
/*    color: #90383e;*/
/*}*/

/*.rowNumber_style_1_dark p .webix_inp_label, .webix_inp_top_label, legend.webix_forminput_label, .webix_el_label .webix_el_box{*/
/*    font-size: 18px;*/
/*    font-weight: 100;*/
/*    !*color: var(--c-color-text-dark);*!*/
/*    color: #fff;*/
/*}*/


/*--------------*/


.button_type_calibration_1_dark .webix_item_tab{
    font-size: 20px;
    font-weight: 100;
    background-color: var(--c-white-color-background-dark_left_menu);
    color: #fff;

}

.button_type_calibration_1_dark .webix_item_tab.webix_selected{
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    background-color: var(--c-white-color-background-dark_general_rows);
    box-shadow: none;

}

.button_type_calibration_1_dark .webix_item_tab.webix_selected:hover{
    border-bottom: none;
    font-size: 20px;
    color: #fff;
    font-weight: 100;
    background-color: var(--c-white-color-background-dark_general_rows);

}

.button_type_calibration_1_dark .webix_all_tabs .webix_item_tab.webix_selected:focus{
    color: #fff;
    box-shadow: none;

}

.button_type_calibration_1_dark .webix_all_tabs .webix_item_tab.webix_selected::selection{
    color: #fff;
    box-shadow: none;
    background-color: #000;

}


/*--------------*/


.style_body{
    background-color: var(--modal_windows_background) ;
}

.style_body_dark{
    background-color: var(--c-white-color-background-dark_left_menu);
}
/*-------------*/



.button_type_calibration_2 .webix_button{
    background-color: rgba(243, 243, 243, 0.0);
    color: #000;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    right: 2px;
    width: 105%;
    height: 105%;
    z-index: 100;
    border-radius: 0;
}

.button_type_calibration_2_dark .webix_button{
    background-color: var(--c-white-color-background-dark_left_menu);
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    position: relative;
    right: 2px;
    width: 105%;
    height: 105%;
    z-index: 100;
    border-radius: 0;
}

.button_type_calibration_2 .webix_button:hover{
    background-color: rgba(243, 243, 243, 0.0);
}

.button_type_calibration_2_dark .webix_button:hover{
    background-color: var(--c-white-color-background-dark_general_rows);
}

.button_type_calibration_2 .webix_button:focus{
    background-color: #f9f9f9;
}

.button_type_calibration_2_dark .webix_button:focus{
    background-color: var(--c-white-color-background-dark_general_rows);
}




/*//////-------------------------------------------------------*/

.drain_button_widow_1 .webix_el_box input{
    border-radius: 6px;
    color: #000;
    font-weight: 100;
    font-size: 18px;
}

.text_drain_window_1{
    font-size: 18px;
}

.button_next_drain_window_1_2 .webix_button{
    background-color: #414e72;
    color: #fff;
    font-size: 18px;
    font-weight: 100;
    border-radius: 4px;
}

.button_next_drain_window_1_2 .webix_button:hover{
    background-color: #516289;
}
.button_next_drain_window_1_2 .webix_button:focus{
    background-color: #b7c5e2;
}


.button_next_drain_window_1_2_dark .webix_button{
    background-color: #f0f0f0;
    color: #000;
    font-size: 18px;
    font-weight: 100;
    border-radius: 4px;
}

.button_next_drain_window_1_2_dark .webix_button:hover{
    background-color: #dbdbdb;
}
.button_next_drain_window_1_2_dark .webix_button:focus{
    background-color: #dbdbdb;
}

.filters_rows_number_2_dark{
    background-color: var(--c-white-color-background-dark_general_windows);
    border-radius: 12px;
}
.set_step_drain_button_2 .webix_button{
    background-color: #f9f9f9;
    color: #000;
    font-weight: 100;
    font-size: 18px;
    border-radius: 4px;
    border: 2px solid #fff;
    box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.2);
    width: 98%;
    height: 98%;
}

.set_step_drain_button_2_dark .webix_button{
    background-color: var(--c-white-color-background-dark);
    color: #d3d1d1;
    font-weight: 100;
    font-size: 18px;
    border-radius: 4px;
    border: 0.7px solid var(--c-white-color-background-dark_left_menu);
    box-shadow:  0.1em 0.1em 1px #2a2a2a;
    width: 98%;
    height: 98%;
}

.set_step_drain_button_2 .webix_button:hover{
    background-color: #fff;
}

.set_step_drain_button_2 .webix_button:focus{
    background-color: #fff;
    box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.0);
    position: relative;
    top: 2px;
    right: 2px;
}

.set_step_drain_button_2_dark .webix_button:hover{
    background-color: #515151;
}

.set_step_drain_button_2_dark .webix_button:focus {
    background-color: #515151;
    box-shadow: 0.1em 0.1em 1px rgba(122, 122, 122, 0.0);
    position: relative;
    top: 2px;
    right: 2px;
}

.clear_table_drain_button_2 .webix_button{
    background-color: #90383e;
    color: #fff;
    font-weight: 100;
    font-size: 18px;
    border-radius: 4px;

}

.clear_table_drain_button_2 .webix_button:hover{
    background-color: #a3575f;
}

.clear_table_drain_button_2 .webix_button:focus{
    background-color: #a3575f;
}

.text_color_filter p{
    color: var(--c-color-text-light);
    font-weight: 100;
    font-size: 18px;
    text-align: left;
}

.text_color_filter_dark p{
    color: var(--c-color-text-dark);
    font-weight: 100;
    font-size: 18px;
    text-align: left;
}

.image_button_filter .webix_button{
    background-color: var(--c-white-color-background-light_general_windows);
    box-shadow: 0.2em 0.2em 5px rgba(122,122,122,0.2);
}

.image_button_filter .webix_button:hover{
    background-color: #8795b2;
    position: relative;

}

.image_button_filter .webix_button:focus{
    background-color: #8795b2;
    position: relative;
    top: 2px;
    left: 2px;
}

.image_button_filter .webix_button:active{
    background-color: #8795b2;
    position: relative;
    top: 2px;
    left: 2px;
}

.image_button_filter_dark .webix_button{
    background-color: var(--c-white-color-background-dark_left_menu);
    box-shadow: 0.4em 0.4em 5px rgba(44, 44, 44, 0.8);
}

.image_button_filter_dark .webix_button:hover{
    background-color: #414e72;
    position: relative;

}

.image_button_filter_dark .webix_button:focus{
    background-color: #414e72;
    position: relative;
    top: 2px;
    left: 2px;
}

.image_button_filter_dark .webix_button:active{
    background-color: #414e72;
    position: relative;
    top: 2px;
    left: 2px;
}

.service_button.webix_view .webix_list{
  font-size: 18px;
   color: var(--c-color-text-light);

}

.service_button .webix_view{
    background-color: #dcdcdc;
    border-radius: 8px;
}

.webix_view.webix_window.webix_popup.service_button{
    background-color: #dcdcdc;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

}


/* f3f3f3 */
/*Окно пароль*/


.window_show_password{
    background-color: #f9f9f9;
    border-radius: 6px;

}

.window_show_password_dark{
    background-color: var(--c-white-color-background-dark);
    border-radius: 6px;
}


.window_show_save{
    background-color: rgba(107, 252, 63, 0.8);
    /*background-color: #f9f9f9;*/
    border-radius: 6px;

}

.window_show_save_dark{
    background-color: var(--c-white-color-background-dark);
    border-radius: 6px;
}


.tabbar_windows_password .webix_segment_N{
    background-color: #f3f3f3;
    position: relative;
    top: -5px;
    color: var(--white-style-text-color);
    font-weight: 100;
    font-size: 20px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.1);
    /*border-right: 1px solid rgba(143, 140, 140, 0.1);*/
}



.tabbar_windows_password .webix_segment_0{
    background-color: #f3f3f3;
    position: relative;
    top: -5px;
    left: 2px;
    color: var(--white-style-text-color);
    font-weight: 100;
    font-size: 20px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.1);
    /*border-right: 1px solid rgba(143, 140, 140, 0.1);*/
}



.tabbar_windows_password_dark .webix_segment_N{
    background-color: var(--c-white-color-background-dark_left_menu);
    position: relative;
    top: -5px;
    color: var(--c-color-text-dark);
    font-weight: 100;
    font-size: 20px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.1);
    /*border-right: 1px solid rgba(143, 140, 140, 0.1);*/

}.tabbar_windows_password_dark .webix_segment_0{
     background-color: var(--c-white-color-background-dark_left_menu);
     position: relative;
     top: -5px;
     left: 2px;
     color: var(--c-color-text-dark);
     font-weight: 100;
     font-size: 20px;
     border-bottom: 2px solid rgba(143, 140, 140, 0.1);
     /*border-right: 1px solid rgba(143, 140, 140, 0.1);*/
 }




.tabbar_windows_password .webix_segment_0.webix_selected{
    background-color: rgba(255,255,255, 0.0);
    color: #000;
    border-top-left-radius: 6px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.0);
    border-right: 2px solid rgba(143, 140, 140, 0.1);

}

.tabbar_windows_password .webix_segment_N.webix_selected{
    background-color: rgba(255,255,255, 0.0);
    color: #000;
    border-top-left-radius: 6px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.0);
    border-left: 2px solid rgba(143, 140, 140, 0.1);

}

.tabbar_windows_password_dark .webix_segment_0.webix_selected{
    background-color: var(--c-white-color-background-dark);
    color: var(--c-color-text-dark);
    border-top-left-radius: 6px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.0);
    border-right: 2px solid rgba(143, 140, 140, 0.1);

}

.tabbar_windows_password_dark .webix_segment_N.webix_selected{
    background-color: var(--c-white-color-background-dark);
    color: var(--c-color-text-dark);
    border-top-left-radius: 6px;
    border-bottom: 2px solid rgba(143, 140, 140, 0.0);
    border-left: 2px solid rgba(143, 140, 140, 0.1);

}
.set_password_button_icon .webix_button{
    background-color: rgba(255,255,255, 0.0);
    color: var(--white-style-text-color);
    font-size: 20px;
    cursor: default;
}
.set_password_button_icon .webix_button:hover{
    background-color: rgba(255,255,255, 0.0);
    color: var(--white-style-text-color);
    font-size: 20px;
    cursor: default;
}

.set_password_button_icon .webix_button:focus{
    background-color: rgba(255,255,255, 0.0);
    color: var(--white-style-text-color);
    font-size: 20px;
    cursor: default;
}

.set_password_button .webix_button{
    background-color: rgba(255,255,255, 0.0);
    color: var(--white-style-text-color);
    font-size: 30px;

}

.set_password_button_dark .webix_button{
    background-color: rgba(255,255,255, 0.0);
    color: var(--c-color-text-dark);
    font-size: 30px;

}

.set_password_button_dark .webix_button:hover{
    background-color: rgba(255,255,255, 0.0);
    color: var(--c-color-text-dark);
    font-size: 30px;

}

.set_password_button_dark .webix_button:focus{
    background-color: rgba(255,255,255, 0.0);
    color: var(--c-color-text-dark);
    font-size: 30px;

}


.set_password_button .webix_button:hover{
    background-color: rgba(255,255,255, 0.0);
    color: var(--white-style-text-color);
    font-size: 30px;
}

.set_password_button .webix_button:focus{
    background-color: rgba(255,255,255, 0.0);
    color: var(--white-style-text-color);
    font-size: 30px;
}

.password_windows_set .webix_el_box input{
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: inset 2px 2px 4px #c5c5c5,
    inset -2px -2px 4px #ffffff;
    color: #000;
    font-size: 20px;
    height: 100%;
    border: 1px solid #fff;
}

.password_windows_set_dark .webix_el_box input{
    background-color: var(--c-white-color-background-dark_left_menu);
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    border: none;
    box-shadow: inset 2px 2px 5px #212121,
    inset -2px -2px 5px #373737;
    height: 100%;
}


.windows_password_label p{
    color: var(--c-color-text-light)
}

.windows_password_label_dark p{
    color: var(--c-color-text-dark)
}